:root {
  --piece-size: calc(16px + 2.5vw);
  --board-length: calc(8 * var(--square-length));
  --square-length: calc(1.5 * var(--piece-size));
  --notation-container-width: calc(.6 * var(--board-length));
  --game-container-side-margin: calc(0.5 * (100vw - (var(--board-length) + var(--notation-container-width))));
  --main-bg-color: hsla(0, 100%, 0%, 0.85);
  --light-square: beige;
  --dark-square: tan;
  --highlight: peru;
}

button {
  cursor: pointer;
}

html {
  background-color: var(--main-bg-color);
}

.App {
  height: 90vh;
}

#hamburger-menu {
  z-index: 4;
  position: absolute;
  top: 0px;
  right: 0px;
}

#game-options-bar {
  position: absolute;
  top: 0.25vh;
}

.options-button {
  background: none;
  border: none;
  padding: .25em;
  font-size: calc(0.45 * var(--piece-size));
  color: lightgray;
  height: 100%;
  width: calc(3.5 * var(--piece-size));
}

#game-options-bar > button {
  background: none;
  border: none;
  padding: .25em;
  font-size: calc(0.45 * var(--piece-size));
  color: lightgray;
  height: 100%;
  width: calc(3.5 * var(--piece-size));
}

#game-options-bar > button:hover {
  opacity: 70%;
}

#current-game-id {
  position: absolute;
  top: calc(0.85 * var(--piece-size));
  left: 50%;
  transform: translate(-50%);
  color: lightgrey;
}

.close-modal-button {
  border-radius: 50%;
  position: absolute;
  top: calc(-0.3 * var(--piece-size));
  left: calc(100% - (0.5 * var(--piece-size)));
  height: calc(0.8 * var(--piece-size));
  width: calc(0.8 * var(--piece-size));
}

.modal > button, .modal > div > button {
  margin-bottom: .8vw;
  font-size: calc(0.35 * var(--piece-size));
  cursor: pointer;
}

.modal {
  position: absolute;
  border-radius: 5px;
  height: calc(2 * var(--piece-size));
  width: calc(.9 * var(--board-length));
  left: calc(50vw - (0.45 * (var(--board-length))));
  top: calc(0.5 * var(--board-length));
  font-size: calc(0.4 * var(--piece-size));
  color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
  background-color: hsla(0, 0%, 0%, 0.705);
}

.modal > div {
  padding: .1rem;
  display: flex;
}

.modal > input {
  height: calc(0.5 * var(--piece-size));
  font-size: calc(0.4 * var(--piece-size));
  text-align: center;
  width: 60%;
}

.game-over {
  font-size: 1.25em;
}

#copy-button {
  margin-left: 1em;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: calc(0.6 * var(--square-length));
}

#board {
  height: var(--board-length);
  width: var(--board-length);
}

#x-coords {
  color: white;
  position: absolute;
  top: 100%;
  left: 45%;
}

#y-coords {
  color: white;
  position: absolute;
  left: -30%;
  top: 30%;
}

.square {
  box-sizing: border-box;
  position: relative;
  height: var(--square-length);
  width: var(--square-length);
  max-height: var(--square-length);
  max-width: var(--square-length);
  text-align: center;
  z-index: 1;
}

.piece-icon {
  height: 93%;
}

.possible-move {
  height: calc(0.33 * var(--square-length));
  width: calc(0.33 * var(--square-length));
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--highlight);
  opacity: 60%;
  position: absolute;
  border-radius: 50%;
  z-index: 0;
}

#promotion-modal {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.promotion-pieces {
  display: flex;
  position: fixed;
  top: calc(0.48 * var(--board-length));
  left: calc(50% - 0.45 * var(--board-length));
  background-color: var(--main-bg-color);
  opacity: 85%;
  width: calc(.9 * var(--board-length));
  font-size: calc(2* var(--piece-size));
  z-index: 3;
}

.promotion-pieces > div {
  min-width: 25%;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

#notation-captured-piece-container {
  align-self: start;
  margin: var(--piece-size);
  box-sizing: border-box;
  font-size: calc(0.5 * var(--piece-size));
  display: flex;
  flex-direction: column;
  width: var(--notation-container-width);
  max-width: var(--notation-container-width);
  height: calc(6 * var(--square-length));
  align-self: center;
}

#notation {
  list-style: none;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  background-color: var(--main-bg-color);
  grid-template-columns: 1fr .75fr;
  color: lightgrey;
  height: 50%;
  max-width: var(--notation-container-width);
  overflow-y: auto;
  margin: 0;
}

#notation > li {
  padding-top: .75em;
  min-width: 50%;
}

#notation::-webkit-scrollbar {
  display: none;
}

.captured-pieces {
  display: flex;
  flex-flow: row wrap;
  font-size: var(--piece-size);
  max-width: 100%;
  height: 25%;
  max-height: 25%;
  background: linear-gradient(150deg, var(--dark-square) 50%, var(--light-square));
  padding-left: .5rem;
}

.captured-pieces > img {
  padding-top: .1em;
  height: 37%;
}

#theme-options {
  padding: 1vh 0;
  width: 25%;
  background-color: rgb(42, 36, 36);
  position: relative;
  left: 75%;
  z-index: 3;
}

#theme-options > div {
  height: calc(1.25 * var(--piece-size));
  display: flex;
}

.color-choice {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.color-choice > div {
  width: 35%;
  height: 60%;
  cursor: pointer;
}

@media (max-width: 550px) {
  :root {
    --board-length: calc(9 * (var(--square-length)));
  }

  #x-coords, #y-coords {
    font-size: 0.65em;
  }
}

@media (min-width: 900px) {
  #game-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .modal {
    left: calc(var(--game-container-side-margin) - (0.04 * var(--board-length)));
    top: calc(.5 * var(--board-length));
  }

  .modal > div > button {
    font-size: .8em;
    height: 2em;
    width: 4em;
  }

  .promotion-pieces {
    top: calc(0.46 * var(--board-length));
    left: calc(0.88 * var(--game-container-side-margin));
  }
}