:root {
  --piece-size: calc(16px + 2.5vw);
  --board-length: calc(8 * var(--square-length));
  --square-length: calc(1.5 * var(--piece-size));
  --notation-container-width: calc(.7 * var(--board-length));
  --game-container-side-margin: calc(0.5 * (100vw - (var(--board-length) + var(--notation-container-width))));
  --main-bg-color: hsla(0, 100%, 0%, 0.85);
  --light-square: beige;
  --dark-square: tan;
  --highlight: peru;
}

button {
  cursor: pointer;
}

html {
  background-color: var(--main-bg-color);
}

.App {
  height: 90vh;
}

#game-options-bar {
  position: absolute;
  top: 0px;
}

#game-options-bar > button {
  background-color: var(--main-bg-color);
  font-size: calc(0.5 * var(--piece-size));
  color: lightgray;
  height: 100%;
  width: calc(4 * var(--piece-size));
}

.close-popup-button {
  border-radius: 50%;
  position: absolute;
  top: calc(-0.3 * var(--piece-size));
  left: calc(100% - (0.5 * var(--piece-size)));
  height: calc(0.8 * var(--piece-size));
  width: calc(0.8 * var(--piece-size));
}

.popup > button, .popup > div > button {
  margin-bottom: .8vw;
  font-size: calc(0.35 * var(--piece-size));
  cursor: pointer;
}

.popup {
  position: absolute;
  border-radius: 5px;
  height: calc(2 * var(--piece-size));
  width: calc(.9 * var(--board-length));
  left: calc(50vw - (0.45 * (var(--board-length))));
  top: calc(0.5 * var(--board-length));
  font-size: calc(0.4 * var(--piece-size));
  color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
  background-color: hsla(0, 0%, 0%, 0.705);
}

.popup > div {
  padding: .1rem;
  display: flex;
}

.popup > input {
  height: calc(0.5 * var(--piece-size));
  font-size: calc(0.4 * var(--piece-size));
  text-align: center;
  width: 60%;
}

#copy-button {
  margin-left: 1em;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(.7 * var(--square-length));
}

#board {
  height: calc(8 * var(--square-length));
  width: calc(8 * var(--square-length));
}

.square {
  box-sizing: border-box;
  height: var(--square-length);
  width: var(--square-length);
  font-size: var(--piece-size);
  text-align: center;
  position: relative;
  z-index: 1;
}

.possible-move {
  height: calc(0.33 * var(--square-length));
  width: calc(0.33 * var(--square-length));
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--highlight);
  position: absolute;
  border-radius: 50%;
  z-index: 0;
}

#promotion-modal {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.promotion-pieces {
  display: flex;
  position: fixed;
  top: calc(0.48 * var(--board-length));
  left: calc(50% - 0.45 * var(--board-length));
  background-color: var(--main-bg-color);
  opacity: 85%;
  width: calc(.9 * var(--board-length));
  font-size: calc(2* var(--piece-size));
  z-index: 3;
}

.promotion-pieces > div {
  min-width: 25%;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

#notation-captured-piece-container {
  padding: calc(0.5* var(--piece-size));
  box-sizing: border-box;
  font-size: calc(0.5 * var(--piece-size));
  display: flex;
  flex-direction: column;
  min-width: var(--notation-container-width);
  max-width: calc(6 * var(--square-length));
  height: calc(7 * var(--square-length));
  align-self: center;
}

#notation {
  list-style: none;
  display: grid;
  background-color: var(--main-bg-color);
  grid-template-columns: 1fr 1fr;
  color: lightgrey;
  align-content: start;
  height: 40%;
  overflow-y: auto;
  margin: 0;
}

#notation > li {
  padding: .5rem .5rem .1rem 1rem;
}

#notation::-webkit-scrollbar {
  display: none;
}

.captured-pieces {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  font-size: var(--piece-size);
  max-width: 100%;
  min-height: 30%;
  background-color: var(--light-square);
  padding-left: .5rem;
}

.captured-pieces > div {
  min-width: 0;
  max-height: 1.5em;
  max-width: 12.5%;
}

#theme-options {
  padding: 2vh 0;
  width: 25%;
  background-color: black;
  position: relative;
  left: 75%;
  z-index: 3;
}

#theme-options > div {
  height: calc(1.25 * var(--piece-size));
  display: flex;
}

.color-choice {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.color-choice > div {
  width: 35%;
  height: 60%;
  cursor: pointer;
}

.modal {
  position: absolute;
  width: 100%; 
  height: 100%; 
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  border: 2px solid black;
  box-sizing: border-box;
  z-index: 3;
}

@media (min-width: 900px) {
  #game-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .popup {
    left: calc(0.05 * var(--board-length) + var(--game-container-side-margin));
    top: calc(.5 * var(--board-length));
  }

  .popup > div > button {
    font-size: .8em;
    height: 2em;
    width: 4em;
  }

  .promotion-pieces {
    top: calc(0.48 * var(--board-length));
    left: calc(var(--game-container-side-margin) + 0.05 * var(--board-length));
  }
}